<div class="one_idea">
          
            <h2><%= @idea.header%></h1>
             <p><%= @idea.body %></p>
      
      <div class="join_status cf">
          <div class="joined">15 присоеденилось</div>
          <div class="join"> <a class="a_join" href="/susc/<%= @idea.id %>">присоедениться</a></div>
          
      </div>
      
      </div>